@page "/"
@namespace Telegram.OpenIdConnect.Pages
@model IndexModel
@using Telegram.OpenIdConnect.Extensions
@using Telegram.OpenIdConnect.Constants
@using Telegram.OpenIdConnect.Enums
@using Dgmjr.AspNetCore.TagHelpers.Extensions

@if(IsNullOrEmpty(Model.ClientId) || Model.Client == null)
{
    <partial name="_LoginPartial" />
}
else
{
  <script
    async src="https://telegram.org/js/telegram-widget.js?22"
    data-telegram-login="@Model.Client.BotUsername"
    data-size="large"
    data-auth-url="/connect/authorize?client_id=@Model.ClientId"
    data-request-access="write"></script>

    <p>
      You are logging in to @Model.Client.BotName <br />
      <a class="badge bg-primary" asp-page="/not-your-bot" asp-area="Home">Not your bot?</a>
    </p>
}
